---
import "../styles/global.css";
---

<div class="ourMission section-gray gap-12">
    <div class="section-container flex flex-col md:flex-row gap-12 md:gap-20">
        <div class="ourMission-img md:w-[50%] w-full">
            <img
                class="object-cover object-bottom h-[360px] md:h-[640px] rounded-[5px]"
                src="aboutUs/ourMission.jpeg"
                alt=""
            />
        </div>
        <div
            class="ourMission-content md:w-[50%] w-full flex flex-col justify-center gap-12"
        >
            <p class="title text-[48px]/[57.6px] font-bold text-left">
                Our Mission
            </p>
            <p class="text">
                At Ddsgnr Auto Repair, our mission is to provide our customers
                with the highest level of car care and customer service. We
                believe that everyone deserves to drive a safe, reliable
                vehicle, and it is our goal to help make that a reality. With
                years of experience, state-of-the-art equipment, and a team of
                highly trained technicians, we are dedicated to restoring your
                car to its best condition. Whether you need routine maintenance
                or complex repairs, we are committed to getting you back on the
                road as quickly and efficiently as possible. Trust us to take
                care of your car – and you – every step of the way.
            </p>
        </div>
    </div>

    <style>
        * {
            box-sizing: border-box;
        }
    </style>
</div>
