---
import Carousel from "./ServiceCarousel";
---

<div class="section-gray bg-white md:bg-[#f7f7f7]">
  <div
    class="section-container flex flex-col gap-12 md:gap-20 justify-center items-start md:items-center"
  >
    <div class="flex flex-col gap-4 self-start md:self-auto">
      <h2 class="text-start md:text-center">Customer testimonials</h2>
      <p class="hidden md:block">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      </p>
      <p class="md:hidden">Check reviews from our clients</p>
    </div>
    <Carousel client:load />
  </div>
</div>
