---
import "../styles/global.css";
---

<div class="ourTeam w-full min-h-[1041px] h-auto hidden md:block">
    <div class="section-container w-full flex flex-col gap-20">
        <div
            class="title flex flex-col justify-between w-full h-[149px] text-center gap-4"
        >
            <div class="group1">
                <p class="text-[16px]/[24px] font-semibold">Tagline</p>
            </div>
            <div class="group2 flex flex-col gap-6">
                <p class="text-[48px]/[57.6px] font-bold">Our team</p>
                <p class="text-[18px]/[27px] font-normal">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </p>
            </div>
        </div>

        <div
            class="members flex flex-col lg:flex-row gap-16 items-center md:justify-between"
        >
            <div
                class="member-1 flex flex-col gap-6 w-auto max-w-[395px] h-[588px] justify-between items-center"
            >
                <img
                    class="object-cover h-[395px]"
                    src="https://s3-alpha-sig.figma.com/img/ad61/8192/b96051b7a065c27cb9240a060e8c6127?Expires=1726444800&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=OLoNMrNLlTD73D4I8QdW0FuMltp9tgf5SM~UNCf6UZLwCQTIpyHmhiP3YavvwGqM6NKcLp3BUujbTKbFMGl8UaxqsCalfbsM0tcc~TK380H-H7KKP61L4UyUBBEarWSPsOgGpSBQgD5B3VV~9NYLA-2vv0sdK6Z-dEDwmMvij0Kj46uxS-zpVS1Xcf9YKLVhSY2UB2WW9VhY~v1hCQo~Vs~DCk-TGZaHpWaz82vxVJ6yML3W0H-4kIQu9VspMir0MJyYQ5Ti5Sym~3ooilmqk4D7jpfR3WY0GeyWS6skN2NXR0zvnqBKXYtUKo7SY0WYiP98xZVrMRNAWsD2LIsu9w__"
                    alt=""
                />
                <div
                    class="person-info flex flex-col justify-between gap-4 text-center"
                >
                    <div class="name">
                        <p class="text-[20px]/[30px] font-semibold">
                            Full name
                        </p>
                        <p class="text-[18px]/[27px] font-normal">Job title</p>
                    </div>
                    <div class="content">
                        <p class="text-[16px]/[24px] font-normal">
                            Lorem ipsum dolor sit amet, consectetur adipiscing
                            elit. Suspendisse varius enim in eros elementum
                            tristique.
                        </p>
                    </div>
                </div>
                <div class="social-acc flex flex-row gap-[14px] items-center">
                    <svg
                        width="25"
                        height="25"
                        viewBox="0 0 25 25"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            fill-rule="evenodd"
                            clip-rule="evenodd"
                            d="M5.3335 3.5H19.3335C20.4381 3.5 21.3335 4.39543 21.3335 5.5V19.5C21.3335 20.6046 20.4381 21.5 19.3335 21.5H5.3335C4.22893 21.5 3.3335 20.6046 3.3335 19.5V5.5C3.3335 4.39543 4.22893 3.5 5.3335 3.5ZM8.3335 18.5C8.60964 18.5 8.8335 18.2761 8.8335 18V11C8.8335 10.7239 8.60964 10.5 8.3335 10.5H6.8335C6.55736 10.5 6.3335 10.7239 6.3335 11V18C6.3335 18.2761 6.55736 18.5 6.8335 18.5H8.3335ZM7.5835 9.5C6.75507 9.5 6.0835 8.82843 6.0835 8C6.0835 7.17157 6.75507 6.5 7.5835 6.5C8.41193 6.5 9.0835 7.17157 9.0835 8C9.0835 8.82843 8.41193 9.5 7.5835 9.5ZM17.8335 18.5C18.1096 18.5 18.3335 18.2761 18.3335 18V13.4C18.366 11.8108 17.1911 10.4545 15.6135 10.26C14.5105 10.1593 13.4418 10.6744 12.8335 11.6V11C12.8335 10.7239 12.6096 10.5 12.3335 10.5H10.8335C10.5574 10.5 10.3335 10.7239 10.3335 11V18C10.3335 18.2761 10.5574 18.5 10.8335 18.5H12.3335C12.6096 18.5 12.8335 18.2761 12.8335 18V14.25C12.8335 13.4216 13.5051 12.75 14.3335 12.75C15.1619 12.75 15.8335 13.4216 15.8335 14.25V18C15.8335 18.2761 16.0574 18.5 16.3335 18.5H17.8335Z"
                            fill="black"></path>
                    </svg>

                    <svg
                        width="25"
                        height="25"
                        viewBox="0 0 25 25"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            d="M21.3062 7.2174C20.8418 7.83692 20.2804 8.37733 19.6437 8.81776C19.6437 8.97959 19.6437 9.14142 19.6437 9.31225C19.6488 12.2511 18.4749 15.0691 16.3852 17.1345C14.2954 19.1999 11.4646 20.3399 8.52743 20.2989C6.82937 20.3046 5.15305 19.9169 3.6298 19.1661C3.54766 19.1302 3.49469 19.049 3.495 18.9593V18.8604C3.495 18.7313 3.59961 18.6267 3.72865 18.6267C5.3978 18.5716 7.0074 17.9929 8.32972 16.9724C6.81891 16.9419 5.45957 16.0469 4.83398 14.6707C4.80239 14.5956 4.81222 14.5093 4.85995 14.4432C4.90767 14.3771 4.98638 14.3407 5.06763 14.3471C5.5268 14.3932 5.99056 14.3505 6.43358 14.2212C4.76577 13.875 3.51259 12.4904 3.33324 10.7957C3.32687 10.7144 3.3633 10.6357 3.42938 10.5879C3.49545 10.5402 3.58162 10.5303 3.65676 10.562C4.10432 10.7595 4.58747 10.8635 5.07662 10.8676C3.61522 9.90846 2.98399 8.08405 3.53993 6.42622C3.59732 6.26513 3.73519 6.14612 3.90288 6.11294C4.07056 6.07975 4.24334 6.13728 4.3577 6.26439C6.32977 8.36325 9.03942 9.61396 11.9153 9.75279C11.8417 9.45885 11.8055 9.15676 11.8075 8.85372C11.8344 7.26472 12.8176 5.84921 14.2968 5.26987C15.7759 4.69054 17.4583 5.06203 18.5564 6.21044C19.3048 6.06785 20.0284 5.81645 20.7041 5.46421C20.7536 5.43331 20.8164 5.43331 20.8659 5.46421C20.8968 5.51373 20.8968 5.57652 20.8659 5.62604C20.5386 6.37552 19.9857 7.00412 19.2843 7.42419C19.8985 7.35296 20.5019 7.20807 21.0816 6.99264C21.1304 6.95942 21.1945 6.95942 21.2433 6.99264C21.2842 7.01134 21.3148 7.04711 21.3269 7.09042C21.339 7.13373 21.3314 7.18018 21.3062 7.2174Z"
                            fill="black"></path>
                    </svg>

                    <svg
                        width="25"
                        height="25"
                        viewBox="0 0 25 25"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            fill-rule="evenodd"
                            clip-rule="evenodd"
                            d="M12.3335 3.5C7.36495 3.5 3.3335 7.53145 3.3335 12.5C3.3335 17.4686 7.36495 21.5 12.3335 21.5C17.2923 21.5 21.3335 17.4686 21.3335 12.5C21.3335 7.53145 17.2923 3.5 12.3335 3.5ZM18.2782 7.64859C19.3519 8.95662 19.9962 10.6258 20.0157 12.4317C19.7619 12.3829 17.2239 11.8655 14.6665 12.1876C14.6079 12.0607 14.5591 11.9241 14.5005 11.7874C14.3443 11.4165 14.1687 11.0358 13.9929 10.6746C16.8237 9.5228 18.1122 7.86334 18.2782 7.64859ZM12.3335 4.82755C14.2858 4.82755 16.0721 5.55966 17.429 6.76031C17.2923 6.95553 16.1307 8.50759 13.3975 9.53253C12.1383 7.21909 10.7424 5.32538 10.5277 5.03254C11.1035 4.89588 11.7088 4.82755 12.3335 4.82755ZM9.06346 5.54989C9.26844 5.82321 10.635 7.72668 11.9138 9.99131C8.32157 10.948 5.14912 10.9284 4.80747 10.9284C5.3053 8.54664 6.91593 6.56507 9.06346 5.54989ZM4.64153 12.5098C4.64153 12.4317 4.64153 12.3536 4.64153 12.2755C4.97341 12.2852 8.70226 12.3341 12.5385 11.1822C12.763 11.6117 12.968 12.051 13.1632 12.4902C13.0656 12.5195 12.9582 12.5488 12.8606 12.5781C8.89749 13.8568 6.78903 17.3514 6.61333 17.6442C5.39315 16.2874 4.64153 14.4816 4.64153 12.5098ZM12.3335 20.192C10.5569 20.192 8.91702 19.5868 7.61875 18.5716C7.75541 18.2885 9.31721 15.282 13.6513 13.769C13.6708 13.7592 13.6806 13.7592 13.7001 13.7495C14.7836 16.551 15.2229 18.9034 15.34 19.577C14.4127 19.9772 13.3975 20.192 12.3335 20.192ZM16.6187 18.8742C16.5407 18.4056 16.1307 16.1605 15.1252 13.398C17.5363 13.0173 19.6448 13.6421 19.9084 13.73C19.5765 15.8677 18.3465 17.7126 16.6187 18.8742Z"
                            fill="black"></path>
                    </svg>
                </div>
            </div>
            <div
                class="member-2 flex flex-col gap-6 w-auto max-w-[395px] h-[588px] justify-between items-center"
            >
                <img
                    class="object-cover h-[395px]"
                    src="https://s3-alpha-sig.figma.com/img/f127/01bd/073e2bc1cd36ec23f693b57248587006?Expires=1726444800&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=R5GQPvMJJwb2lFAiLiyzBmhVTvOZKWatDMU29bw2cNr3mByjMctOoiMl9spzGB0OCv-s3RnCkKlMWoKXv1-XD7JkCcY9-ym6YcP6PFgvjW0w2FkzVoOePVFvWczMezudd1oXFI30TcxWvQqWf5a57CwRC0uvnnVy1EZcD2gXl8dDIGfK-qNvJbfcZgTiZS-rc7pOwUXSq5lJnKw1w5B8QPYkGuPACXQcbEhHHdiAoLM9nIxd83hfp9wtWRYxNsotZriQz-TmNuud6gC1l~PExgFjx0wF003CaJJQCkPwQIuRK3xKWIee3kCPI7pV2fpzKzNmJJnS-7ImnkfOdwNpRQ__"
                    alt=""
                />
                <div
                    class="person-info flex flex-col justify-between gap-4 text-center"
                >
                    <div class="name">
                        <p class="text-[20px]/[30px] font-semibold">
                            Full name
                        </p>
                        <p class="text-[18px]/[27px] font-normal">Job title</p>
                    </div>
                    <div class="content">
                        <p class="text-[16px]/[24px] font-normal">
                            Lorem ipsum dolor sit amet, consectetur adipiscing
                            elit. Suspendisse varius enim in eros elementum
                            tristique.
                        </p>
                    </div>
                </div>
                <div class="social-acc flex flex-row gap-[14px] items-center">
                    <svg
                        width="25"
                        height="25"
                        viewBox="0 0 25 25"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            fill-rule="evenodd"
                            clip-rule="evenodd"
                            d="M5.3335 3.5H19.3335C20.4381 3.5 21.3335 4.39543 21.3335 5.5V19.5C21.3335 20.6046 20.4381 21.5 19.3335 21.5H5.3335C4.22893 21.5 3.3335 20.6046 3.3335 19.5V5.5C3.3335 4.39543 4.22893 3.5 5.3335 3.5ZM8.3335 18.5C8.60964 18.5 8.8335 18.2761 8.8335 18V11C8.8335 10.7239 8.60964 10.5 8.3335 10.5H6.8335C6.55736 10.5 6.3335 10.7239 6.3335 11V18C6.3335 18.2761 6.55736 18.5 6.8335 18.5H8.3335ZM7.5835 9.5C6.75507 9.5 6.0835 8.82843 6.0835 8C6.0835 7.17157 6.75507 6.5 7.5835 6.5C8.41193 6.5 9.0835 7.17157 9.0835 8C9.0835 8.82843 8.41193 9.5 7.5835 9.5ZM17.8335 18.5C18.1096 18.5 18.3335 18.2761 18.3335 18V13.4C18.366 11.8108 17.1911 10.4545 15.6135 10.26C14.5105 10.1593 13.4418 10.6744 12.8335 11.6V11C12.8335 10.7239 12.6096 10.5 12.3335 10.5H10.8335C10.5574 10.5 10.3335 10.7239 10.3335 11V18C10.3335 18.2761 10.5574 18.5 10.8335 18.5H12.3335C12.6096 18.5 12.8335 18.2761 12.8335 18V14.25C12.8335 13.4216 13.5051 12.75 14.3335 12.75C15.1619 12.75 15.8335 13.4216 15.8335 14.25V18C15.8335 18.2761 16.0574 18.5 16.3335 18.5H17.8335Z"
                            fill="black"></path>
                    </svg>

                    <svg
                        width="25"
                        height="25"
                        viewBox="0 0 25 25"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            d="M21.3062 7.2174C20.8418 7.83692 20.2804 8.37733 19.6437 8.81776C19.6437 8.97959 19.6437 9.14142 19.6437 9.31225C19.6488 12.2511 18.4749 15.0691 16.3852 17.1345C14.2954 19.1999 11.4646 20.3399 8.52743 20.2989C6.82937 20.3046 5.15305 19.9169 3.6298 19.1661C3.54766 19.1302 3.49469 19.049 3.495 18.9593V18.8604C3.495 18.7313 3.59961 18.6267 3.72865 18.6267C5.3978 18.5716 7.0074 17.9929 8.32972 16.9724C6.81891 16.9419 5.45957 16.0469 4.83398 14.6707C4.80239 14.5956 4.81222 14.5093 4.85995 14.4432C4.90767 14.3771 4.98638 14.3407 5.06763 14.3471C5.5268 14.3932 5.99056 14.3505 6.43358 14.2212C4.76577 13.875 3.51259 12.4904 3.33324 10.7957C3.32687 10.7144 3.3633 10.6357 3.42938 10.5879C3.49545 10.5402 3.58162 10.5303 3.65676 10.562C4.10432 10.7595 4.58747 10.8635 5.07662 10.8676C3.61522 9.90846 2.98399 8.08405 3.53993 6.42622C3.59732 6.26513 3.73519 6.14612 3.90288 6.11294C4.07056 6.07975 4.24334 6.13728 4.3577 6.26439C6.32977 8.36325 9.03942 9.61396 11.9153 9.75279C11.8417 9.45885 11.8055 9.15676 11.8075 8.85372C11.8344 7.26472 12.8176 5.84921 14.2968 5.26987C15.7759 4.69054 17.4583 5.06203 18.5564 6.21044C19.3048 6.06785 20.0284 5.81645 20.7041 5.46421C20.7536 5.43331 20.8164 5.43331 20.8659 5.46421C20.8968 5.51373 20.8968 5.57652 20.8659 5.62604C20.5386 6.37552 19.9857 7.00412 19.2843 7.42419C19.8985 7.35296 20.5019 7.20807 21.0816 6.99264C21.1304 6.95942 21.1945 6.95942 21.2433 6.99264C21.2842 7.01134 21.3148 7.04711 21.3269 7.09042C21.339 7.13373 21.3314 7.18018 21.3062 7.2174Z"
                            fill="black"></path>
                    </svg>

                    <svg
                        width="25"
                        height="25"
                        viewBox="0 0 25 25"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            fill-rule="evenodd"
                            clip-rule="evenodd"
                            d="M12.3335 3.5C7.36495 3.5 3.3335 7.53145 3.3335 12.5C3.3335 17.4686 7.36495 21.5 12.3335 21.5C17.2923 21.5 21.3335 17.4686 21.3335 12.5C21.3335 7.53145 17.2923 3.5 12.3335 3.5ZM18.2782 7.64859C19.3519 8.95662 19.9962 10.6258 20.0157 12.4317C19.7619 12.3829 17.2239 11.8655 14.6665 12.1876C14.6079 12.0607 14.5591 11.9241 14.5005 11.7874C14.3443 11.4165 14.1687 11.0358 13.9929 10.6746C16.8237 9.5228 18.1122 7.86334 18.2782 7.64859ZM12.3335 4.82755C14.2858 4.82755 16.0721 5.55966 17.429 6.76031C17.2923 6.95553 16.1307 8.50759 13.3975 9.53253C12.1383 7.21909 10.7424 5.32538 10.5277 5.03254C11.1035 4.89588 11.7088 4.82755 12.3335 4.82755ZM9.06346 5.54989C9.26844 5.82321 10.635 7.72668 11.9138 9.99131C8.32157 10.948 5.14912 10.9284 4.80747 10.9284C5.3053 8.54664 6.91593 6.56507 9.06346 5.54989ZM4.64153 12.5098C4.64153 12.4317 4.64153 12.3536 4.64153 12.2755C4.97341 12.2852 8.70226 12.3341 12.5385 11.1822C12.763 11.6117 12.968 12.051 13.1632 12.4902C13.0656 12.5195 12.9582 12.5488 12.8606 12.5781C8.89749 13.8568 6.78903 17.3514 6.61333 17.6442C5.39315 16.2874 4.64153 14.4816 4.64153 12.5098ZM12.3335 20.192C10.5569 20.192 8.91702 19.5868 7.61875 18.5716C7.75541 18.2885 9.31721 15.282 13.6513 13.769C13.6708 13.7592 13.6806 13.7592 13.7001 13.7495C14.7836 16.551 15.2229 18.9034 15.34 19.577C14.4127 19.9772 13.3975 20.192 12.3335 20.192ZM16.6187 18.8742C16.5407 18.4056 16.1307 16.1605 15.1252 13.398C17.5363 13.0173 19.6448 13.6421 19.9084 13.73C19.5765 15.8677 18.3465 17.7126 16.6187 18.8742Z"
                            fill="black"></path>
                    </svg>
                </div>
            </div>
            <div
                class="member-3 flex flex-col gap-6 w-auto max-w-[395px] h-[588px] justify-between items-center"
            >
                <img
                    class="object-cover h-[395px]"
                    src="https://s3-alpha-sig.figma.com/img/f7cb/929c/6b9ca489280b3989bd93f720ae09f00c?Expires=1726444800&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=RQg2YZTv~NsOHJgU9qBZtx8iSIHIcOPyVUL6u1HqNKCNLL1C5y1EA1x1g9eM7Aak3yZPiIeOLzlhjrtY0iZGr5qvd9uKlPg-BfI2Fj3o9J6p6SPw5d4XRT0AvnGh2g3pGRWkTamsC2EVW8h1TjazLxxXddVRZzkMhy6lzgBteHOQtQ-LQNMLPVmeGxEHKQxujBusZ7OEFOnpi75gsgEMbtTuZYwqjJmHx4H7KraPhwDREq1f6gF0ItTc~KiR1P0U6~19qQPyUsZMTnnozuc~SVmH0BwEkStb6C4li6HUC5368YR9r3BK9ut0rs7rgV0d9CK1HP9zG8jiF2GSijWxcA__"
                    alt=""
                />
                <div
                    class="person-info flex flex-col justify-between gap-4 text-center"
                >
                    <div class="name">
                        <p class="text-[20px]/[30px] font-semibold">
                            Full name
                        </p>
                        <p class="text-[18px]/[27px] font-normal">Job title</p>
                    </div>
                    <div class="content">
                        <p class="text-[16px]/[24px] font-normal">
                            Lorem ipsum dolor sit amet, consectetur adipiscing
                            elit. Suspendisse varius enim in eros elementum
                            tristique.
                        </p>
                    </div>
                </div>
                <div class="social-acc flex flex-row gap-[14px] items-center">
                    <svg
                        width="25"
                        height="25"
                        viewBox="0 0 25 25"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            fill-rule="evenodd"
                            clip-rule="evenodd"
                            d="M5.3335 3.5H19.3335C20.4381 3.5 21.3335 4.39543 21.3335 5.5V19.5C21.3335 20.6046 20.4381 21.5 19.3335 21.5H5.3335C4.22893 21.5 3.3335 20.6046 3.3335 19.5V5.5C3.3335 4.39543 4.22893 3.5 5.3335 3.5ZM8.3335 18.5C8.60964 18.5 8.8335 18.2761 8.8335 18V11C8.8335 10.7239 8.60964 10.5 8.3335 10.5H6.8335C6.55736 10.5 6.3335 10.7239 6.3335 11V18C6.3335 18.2761 6.55736 18.5 6.8335 18.5H8.3335ZM7.5835 9.5C6.75507 9.5 6.0835 8.82843 6.0835 8C6.0835 7.17157 6.75507 6.5 7.5835 6.5C8.41193 6.5 9.0835 7.17157 9.0835 8C9.0835 8.82843 8.41193 9.5 7.5835 9.5ZM17.8335 18.5C18.1096 18.5 18.3335 18.2761 18.3335 18V13.4C18.366 11.8108 17.1911 10.4545 15.6135 10.26C14.5105 10.1593 13.4418 10.6744 12.8335 11.6V11C12.8335 10.7239 12.6096 10.5 12.3335 10.5H10.8335C10.5574 10.5 10.3335 10.7239 10.3335 11V18C10.3335 18.2761 10.5574 18.5 10.8335 18.5H12.3335C12.6096 18.5 12.8335 18.2761 12.8335 18V14.25C12.8335 13.4216 13.5051 12.75 14.3335 12.75C15.1619 12.75 15.8335 13.4216 15.8335 14.25V18C15.8335 18.2761 16.0574 18.5 16.3335 18.5H17.8335Z"
                            fill="black"></path>
                    </svg>

                    <svg
                        width="25"
                        height="25"
                        viewBox="0 0 25 25"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            d="M21.3062 7.2174C20.8418 7.83692 20.2804 8.37733 19.6437 8.81776C19.6437 8.97959 19.6437 9.14142 19.6437 9.31225C19.6488 12.2511 18.4749 15.0691 16.3852 17.1345C14.2954 19.1999 11.4646 20.3399 8.52743 20.2989C6.82937 20.3046 5.15305 19.9169 3.6298 19.1661C3.54766 19.1302 3.49469 19.049 3.495 18.9593V18.8604C3.495 18.7313 3.59961 18.6267 3.72865 18.6267C5.3978 18.5716 7.0074 17.9929 8.32972 16.9724C6.81891 16.9419 5.45957 16.0469 4.83398 14.6707C4.80239 14.5956 4.81222 14.5093 4.85995 14.4432C4.90767 14.3771 4.98638 14.3407 5.06763 14.3471C5.5268 14.3932 5.99056 14.3505 6.43358 14.2212C4.76577 13.875 3.51259 12.4904 3.33324 10.7957C3.32687 10.7144 3.3633 10.6357 3.42938 10.5879C3.49545 10.5402 3.58162 10.5303 3.65676 10.562C4.10432 10.7595 4.58747 10.8635 5.07662 10.8676C3.61522 9.90846 2.98399 8.08405 3.53993 6.42622C3.59732 6.26513 3.73519 6.14612 3.90288 6.11294C4.07056 6.07975 4.24334 6.13728 4.3577 6.26439C6.32977 8.36325 9.03942 9.61396 11.9153 9.75279C11.8417 9.45885 11.8055 9.15676 11.8075 8.85372C11.8344 7.26472 12.8176 5.84921 14.2968 5.26987C15.7759 4.69054 17.4583 5.06203 18.5564 6.21044C19.3048 6.06785 20.0284 5.81645 20.7041 5.46421C20.7536 5.43331 20.8164 5.43331 20.8659 5.46421C20.8968 5.51373 20.8968 5.57652 20.8659 5.62604C20.5386 6.37552 19.9857 7.00412 19.2843 7.42419C19.8985 7.35296 20.5019 7.20807 21.0816 6.99264C21.1304 6.95942 21.1945 6.95942 21.2433 6.99264C21.2842 7.01134 21.3148 7.04711 21.3269 7.09042C21.339 7.13373 21.3314 7.18018 21.3062 7.2174Z"
                            fill="black"></path>
                    </svg>

                    <svg
                        width="25"
                        height="25"
                        viewBox="0 0 25 25"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            fill-rule="evenodd"
                            clip-rule="evenodd"
                            d="M12.3335 3.5C7.36495 3.5 3.3335 7.53145 3.3335 12.5C3.3335 17.4686 7.36495 21.5 12.3335 21.5C17.2923 21.5 21.3335 17.4686 21.3335 12.5C21.3335 7.53145 17.2923 3.5 12.3335 3.5ZM18.2782 7.64859C19.3519 8.95662 19.9962 10.6258 20.0157 12.4317C19.7619 12.3829 17.2239 11.8655 14.6665 12.1876C14.6079 12.0607 14.5591 11.9241 14.5005 11.7874C14.3443 11.4165 14.1687 11.0358 13.9929 10.6746C16.8237 9.5228 18.1122 7.86334 18.2782 7.64859ZM12.3335 4.82755C14.2858 4.82755 16.0721 5.55966 17.429 6.76031C17.2923 6.95553 16.1307 8.50759 13.3975 9.53253C12.1383 7.21909 10.7424 5.32538 10.5277 5.03254C11.1035 4.89588 11.7088 4.82755 12.3335 4.82755ZM9.06346 5.54989C9.26844 5.82321 10.635 7.72668 11.9138 9.99131C8.32157 10.948 5.14912 10.9284 4.80747 10.9284C5.3053 8.54664 6.91593 6.56507 9.06346 5.54989ZM4.64153 12.5098C4.64153 12.4317 4.64153 12.3536 4.64153 12.2755C4.97341 12.2852 8.70226 12.3341 12.5385 11.1822C12.763 11.6117 12.968 12.051 13.1632 12.4902C13.0656 12.5195 12.9582 12.5488 12.8606 12.5781C8.89749 13.8568 6.78903 17.3514 6.61333 17.6442C5.39315 16.2874 4.64153 14.4816 4.64153 12.5098ZM12.3335 20.192C10.5569 20.192 8.91702 19.5868 7.61875 18.5716C7.75541 18.2885 9.31721 15.282 13.6513 13.769C13.6708 13.7592 13.6806 13.7592 13.7001 13.7495C14.7836 16.551 15.2229 18.9034 15.34 19.577C14.4127 19.9772 13.3975 20.192 12.3335 20.192ZM16.6187 18.8742C16.5407 18.4056 16.1307 16.1605 15.1252 13.398C17.5363 13.0173 19.6448 13.6421 19.9084 13.73C19.5765 15.8677 18.3465 17.7126 16.6187 18.8742Z"
                            fill="black"></path>
                    </svg>
                </div>
            </div>
        </div>
    </div>
</div>
