---
import "@fontsource/inter";
import "@fontsource/roboto";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import "../styles/global.css";
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
  </head>
  <meta name="generator" content={Astro.generator} />
  <title>Ddsgnr</title>
</html>
<body>
  <Header />
  <div class="mt-[72px] md:mt-[126px]"><slot /></div>
  <Footer />
</body>

<style is:global>
  body {
    margin: 0;
  }
</style>
